@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --custom-bg-1: #fcfcfc;
    --custom-bg-2: #7978E9;
    --custom-bg-3: #4B49AC;
    --custom-bg-4: #AA77FF;
}

body{
  background: #f8f7fb !important;
}

.custom-bg-1 {
    background-color: var(--custom-bg-1) !important;
}

.custom-bg-2 {
    background-color: var(--custom-bg-2) !important;
}

.custom-bg-3 {
    background-color: var(--custom-bg-3) !important;
}

.custom-bg-4 {
    background-color: var(--custom-bg-4) !important;
}

.vector-bg {
    /* background: url('/src/assets/cutout.png'); */
    background-color: var(--custom-bg-4);
    filter: blur(5);
}

.custom-color-1 {
    color: var(--custom-bg-1);
}

.custom-color-2 {
    color: var(--custom-bg-2);
}

.custom-color-3 {
    color: var(--custom-bg-3);
}

.custom-color-4 {
    color: var(--custom-bg-4);
}

.letter-spacing {
    letter-spacing: 1.5px;
}

.body {
    background: url('/src/assets/cutout.png') no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
}

.glass-morphism {
    backdrop-filter: blur(2px) brightness(.8);
    background: rgba(244, 244, 244, 0.3);
}

.btn-check:checked+.btn{
    background-color: #4B49AC !important;
    color:#f8f7fb !important;
}

.html5-qrcode-anchor-scan-type-change{
    display: none !important;
}

/* New */
.home_img{
    background-image: url(./assets/home.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    background-position-x: center;
}
.backdrop{
    backdrop-filter: blur(4px) brightness(0.8);
}

#reader video{
    width: 100%;
    /* height: auto; */
}

.drawingBuffer{
    display: none;
}

/* #reader::after{
    content: '\f25a  hold here to scan';
    font-family: "Font Awesome 6 Free";
    letter-spacing: 2px;
    width: 50%;
    border-radius: 50px;
    display: block;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%,-50px);
    text-align: center;
    background: #2e2d2d99;
    color: white;
    padding: 2% 0%;
    font-size: 10px;
} */